{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}ОХЛ | {{ object.title }}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}">
<link rel="stylesheet" href="{% static 'mainpage/css/post.css' %}">
<link rel="stylesheet" href="{% static 'players/css/components.css' %}">
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock head %}

{% block main %}
<body>
  <main>
    <section class="post">
        <div class="post-container">
            <div class="post-header">
                <img src="{{ object.image.url }}" alt="title image">
                <div class="post-heading">
                    <h2>{{ object.title }}</h2>
                </div>
            </div>
            <div class="post-content">
              {{ object.content|safe }}
            </div>
        </div>
    </section>

  </main>

</body>
{% endblock main %}